* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width:100%;
  font-size: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}

.dispClass{
  position: absolute;
  top:20%;
  left:10%;
  height: auto;
  width: 50%;
  margin: 1%;
}

.new-rect{
  position:relative;
  left: 10%;
  top: 20%;
  height: 15%;
  width: auto;
  border: 1px solid #EEE;
  font-size:20px;
  
}

.btn{
  margin-left: 2%;
}

.form-control{
  margin-top: 4px;
  
}
.newButton{
  position:relative;
  height:50%;
  width:20%;
